VITE_SUPABASE_URL=https://iwcbzfigfxqutofyphvi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml3Y2J6ZmlnZnhxdXRvZnlwaHZpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTMxNTYzNzEsImV4cCI6MjA2ODczMjM3MX0.7lu-4Q6XST6VG-tm3kZKfhkftDiQwoxoaZhkgHl2QZY 